<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Copy</title>
    <!-- 引入样式 -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="elementui/index.css">
    <!-- 引入组件库 -->
    <script src="js/clipboard.min.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="elementui/index.js"></script>


</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }

</style>
<body>
<div id="app">

    <div style="padding-top: 20px;background: #180030;height: 1200px">
        <el-header>
            <h1 style="text-align: center;color: #ffffff">Easy Copy</h1>
        </el-header>
        <el-main style="margin-left:70%">
            <el-button style="background: #0f001d;color: #ffffff" @click="dbForm.show=true">添加数据库</el-button>
            <span v-if="dbForm.success===1">✅</span>
            <span v-if="dbForm.success===2">❎</span>
        </el-main>
        <el-main style="margin-left: 25%">
            <el-button style="background: #0f001d;color: #ffffff" @click="batchInsertSql()">生成插入语句
            </el-button>
        </el-main>
        <el-main style="margin-left: 25%">
            <el-button style="background: #0f001d;color: #ffffff" @click="UploadPDFForm.show=true">PDF转EXCEL
            </el-button>
        </el-main>


        <!--添加的数据库表单-->
        <el-dialog title="请输入数据库连接信息" :visible.sync="dbForm.show">
            <el-form :model="dbForm">
                <el-form-item label="请输入连接url:">
                    <el-input v-model="dbForm.url" style="width: 350px"></el-input>
                </el-form-item>
                <el-form-item label="请输入用户名:">
                    <el-input v-model="dbForm.userName" style="width: 350px"></el-input>
                </el-form-item>
                <el-form-item label="请输入密码:">
                    <el-input v-model="dbForm.password" style="width: 350px"></el-input>
                </el-form-item>
                <el-form-item label="请输入表名:">
                    <el-input v-model="dbForm.tableName" style="width: 350px"></el-input>
                </el-form-item>
            </el-form>
            <div style="margin-left: 500px">
                <el-button @click="dbForm.show= false">取 消</el-button>
                <el-button style="background: #01adf9;color: #ffffff" type="primary" @click="collectDB()">确 定 连 接
                </el-button>
            </div>
        </el-dialog>

        <!--批量生成插入sql-->
        <el-dialog title="插入语句" :visible.sync="batchInsertSqlForm.show">
            <el-input

                    id="copyCode"
                    type="textarea"
                    :rows="20"
                    v-model="batchInsertSqlForm.data">
            </el-input>
            <div style="text-align: center;margin-top: 20px">
                <el-button @click="batchInsertSql">刷 新</el-button>
                <el-button class="copy" data-clipboard-target="#copyCode" style="background: #01adf9;color: #ffffff"
                           type="primary" @click="copySql()">复 制
                </el-button>
            </div>
        </el-dialog>
        <!--上传pdf表单-->
        <el-dialog title="PDF转EXCEL" :visible.sync="UploadPDFForm.show">
            <el-upload
                    style="text-align: center"
                    drag
                    action="/pdfToHtml"
                    :on-success="test"
                    :on-remove="UploadPDFForm.data=''"
                    multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </el-upload>
            <el-input placeholder="请输入需要转的pdf页码" v-model="UploadPDFForm.page"
                      style="margin-left: 320px;width: 300px"></el-input>
            <el-button style="background: #01adf9;color: #ffffff;margin-top: 20px"
                       type="primary" @click="conversion()">开 始 转 换
            </el-button>
        </el-dialog>
    </div>

</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            //数据库的连接信息
            dbForm: {
                show: false,
                success: 0,
                url: 'jdbc:oracle:thin:@127.0.0.1:1522:ora11g',
                userName: 'wang',
                password: 'wang',
                tableName: 'USER2'
            },
            //生成插入语句
            batchInsertSqlForm: {show: false, data: ""},
            //上传pdf表单
            UploadPDFForm: {show: false, data: '', page: ""},
            local: 'http://localhost:8082/',
        },
        created() {

        },
        methods: {
            collectDB() {
                axios.post(this.local + "checkCollect", this.dbForm).then((res) => {
                    if (res.data.flag) {
                        //连接成功
                        this.$message.success(res.data.message);
                        this.dbForm.success = 1;
                        this.dbForm.show = false;
                    } else {
                        this.$message.error(res.data.message);
                        this.dbForm.success = 2;
                    }
                })
            },
            batchInsertSql() {
                this.batchInsertSqlForm.show = true;
                axios.post(this.local + "batchInsertSql", this.dbForm).then((res) => {
                    var array = '';
                    for (let i = 0; i < res.data.data.length; i++) {
                        array += res.data.data[i];
                    }
                    if (res.data.flag) {
                        this.batchInsertSqlForm.data = array;
                    }
                })
            },
            copySql() {

            },
            uploadSuccess(response, file, fileList) {
                console.log(response, file, fileList);
                this.UploadPDFForm.data = response.data;
            },

            conversion() {
                if (!this.UploadPDFForm.data.length > 0) {
                    this.$message.error("请上传文件");
                } else if (!this.UploadPDFForm.page > 0) {
                    this.$message.error("请输入需要转入的页码");
                } else {
                    axios.get(this.local+"PdfToExcel",{
                        params:{
                            'page':this.UploadPDFForm.page+"",
                            'path':this.UploadPDFForm.data,

                        }
                    }).then((res)=>{
                        if (res.data.flag){
                            this.$message.success("下载成功")
                            location.href=res.data.data;
                        }
                    })
                }

            },

            test(){
                const url = window.URL.createObjectURL(new Blob([data], {type: 'text/html'}));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'test.html') // 下载文件的名称及文件类型后缀
                document.body.appendChild(link)
                link.click();
                document.body.removeChild(link); // 下载完成移除元素
                window.URL.revokeObjectURL(url); // 释放掉blob对象
            }

        },
        mounted() {
            new ClipboardJS('.copy');
        },
    })
</script>
</body>
</html>